:root {
  --transition-time: 0.7s;
  --transition-time-visibility: 0.3s;
  --transition-time-opacity: 0.4s;
  --main-content-height: min-content;
  /** Uncomment to stretch layout to height of screen and push footer to bottom of screen**/
  /* --main-content-height: 1fr; */
  --footer-height: min-content;
}
body {
  background-image: url(../image/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.logo-link,
.header-contacts-link,
.card-title {
  transition: color var(--transition-time) linear;
}

.wrapper {
  max-width: 1050px;
  min-height: 100vh;
  padding-left: 4px;
  padding-right: 19px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content var(--main-content-height) min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  padding-top: 51px;
  padding-bottom: 15px;
}
.logo {
  line-height: 0.5em;
}
.logo-link {
  display: block;
  position: relative;
  color: #fff;
  background-repeat: no-repeat;
  float: left;
}
.logo-link:hover {
  color: #f26522;
}
.logo-image-white,
.logo-image-orange {
  position: absolute;
  margin-right: 8px;
  line-height: 0.5em;
  width: 53px;
}
.logo-image-white,
.logo-image-orange {
  transition: visibility var(--transition-time-visibility) ease-out,
    opacity var(--transition-time-opacity) linear;
}
.logo-image-orange {
  visibility: hidden;
  opacity: 0;
}

.logo-link:hover .logo-image-white {
  visibility: hidden;
  opacity: 0;
}
.logo-link:hover .logo-image-orange {
  visibility: visible;
  opacity: 1;
}
.logo-text {
  float: right;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 60px;
}
.logo-big-text {
  font-size: 29px;
  margin: 0;
  margin-top: 5px;
}
.logo-small-text {
  margin: 0;
  margin-top: 8px;
}

.header-contacts {
  float: right;
  text-align: right;
  line-height: 0.9;
}
.header-contacts-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 0;
  margin-bottom: 21px;
}
.header-contacts-link:nth-last-child(1) {
  margin-bottom: 0;
}
.header-contacts-link:hover {
  color: #f26522;
}

.main {
  grid-area: main;
  align-self: center;
  margin-bottom: 9px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  row-gap: 33px;
}
.card {
  flex-basis: 30%;
  text-align: center;
}
.card-image-wrapper {
  overflow: hidden;
  margin-bottom: 19px;
}
.card-image {
  display: block;
  width: 100%;
  aspect-ratio: 1.36;
  object-fit: cover;
  margin: 0 auto;
  border: 2px solid transparent;
  border-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 35%,
      rgba(0, 0, 0, 0.85) 50%,
      rgba(255, 255, 255, 1) 100%
    )
    1;
}
.card-title {
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: color var(--transition-time);
}
.card-title:hover,
.card-title:focus {
  color: #f26522;
}
.card-image-wrapper {
  position: relative;
}
.card-popup-menu {
  position: absolute;
  background-color: #f26522;
  color: #fff;
  height: 50px;
  bottom: -50px;
  left: 2px;
  right: 2px;
  padding-left: 11px;
  padding-right: 18px;
  border: 2px solid transparent;
  transition: var(--transition-time);
}
.card-title:hover .card-popup-menu,
.card-title:focus .card-popup-menu {
  bottom: 2px;
  visibility: visible;
}
.card-price-block {
  float: left;
}
.price-from-word {
  font-size: 10px;
  margin: 0;
  margin-bottom: 10px;
}
.card-price {
  margin: 0;
}
.card-show-more {
  float: right;
  font-size: 14px;
  margin-top: 22px;
}
.card-show-more::after {
  content: "❯";
  margin-left: 16px;
}
.card-show-more:hover {
  border-bottom: 1px solid #fff;
}

.footer {
  grid-area: footer;
  margin-top: 45px;
  margin-bottom: 20px;
}
.footer-copyright {
  text-align: center;
  font-size: 12px;
  line-height: var(--footer-height);
}

@media (max-width: 800px) {
  .header {
    align-self: center;
    margin-top: 0;
  }
  .card {
    flex-basis: 47%;
  }
}

@media (max-width: 500px) {
  .card {
    flex-basis: 100%;
  }
}
